$Veryarkdesaturatedblue: hsl(212, 27%, 19%);
$Verydarkgrayishblue: hsl(213, 9%, 39%);
$Darkgrayishblue: hsl(232, 10%, 55%);
$Grayishblue: hsl(210, 4%, 67%);
$White: hsl(0, 0%, 100%);
$yellow : #fad600;
$lightYellow:#f5e16f;
$pink : #fe7263;
$lightPink: #f9b6ae;
$blue :#6ecffc;
